<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title inertia>AdonisJS x Inertia x React</title>

  @viteReactRefresh()
  @vite(['resources/app.tsx'])
  @inertiaHead()
  <link rel="stylesheet" href="core.css">
  <link rel="stylesheet" href="carousel.css">
  <link rel="stylesheet" href="chart.css">
  <link rel="stylesheet" href="dates.css">
  <link rel="stylesheet" href="dropzone.css">
  <link rel="stylesheet" href="notifications.css">
  <link rel="stylesheet" href="nprogress.css">
  <link rel="stylesheet" href="tiptap.css">
</head>

<body>
  @inertia()
</body>

</html>
